
@font-face {
	font-family: 'NexaBold';
	src: url('./../tools/fonts/nexa/original_Nexa_Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('iconFonts/icomoon.eot?fbvm8q');
  src:  url('iconFonts/icomoon.eot?fbvm8q#iefix') format('embedded-opentype'),
    url('iconFonts/icomoon.ttf?fbvm8q') format('truetype'),
    url('iconFonts/icomoon.woff?fbvm8q') format('woff'),
    url('iconFonts/icomoon.svg?fbvm8q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-size: 18px;
	font-family: 'NexaBlack', sans-serif;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  
  content: "\e94e";
  font-size: 0.9rem;
}
.icon-bubbles2:before {
  content: "\e96d";
}


header {
	height: 10vh;
	padding-left: 2vw;
}

.headerBlog {
	position: relative;
}

#isologo, #imgLogo {
	height: 100%;
}

.imagePpal {
	min-height: 350px;
	background-color: #043556;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
}

.cover {
	position: absolute;
	top:0;
	width: 100%;
	min-height: 350px;
	background: rgba(255,0,0,0.2);
    content: "";
    z-index: 1;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.75) 80%);
    background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.75) 80%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0,0,0,0.75) 80%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0,0,0,0.75) 80%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.75) 80%);
}

.data {
	min-width: 1024px;
	width: 1024px;
	height: 100px;
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
	z-index: 2;
	left: calc((100% - 1024px)/2);
	color: white;
}


.data > span {
	color: grey;
}



.data > a, .data > a:visited, .data > a:active {
	color: #0a8ecd;
	text-decoration: none;
}

.data > a:hover {
	transform: scale(1.2);
}

.textBlog {
	min-width: 1024px;
	width: 1024px;
	margin: 0 auto;
	color: #1c3643;
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding-top: 50px;
	font-size: 1.3rem;
}

.textBlog > p > img{
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

.textBlog > ol, .textBlog > ul {
	margin: 50px;
}

.textBlog > h2, .textBlog>h3, .textBlog>h4 {
	margin-bottom: 30px;
}

blockquote {
	    border-left: 6px solid #ddd;
    padding-left: 15px;
    color: #bbb;
    font-style: italic;
}

.container, footer {
	display: flex;
	flex-wrap: wrap;
	min-width: 1024px;
	width: 75%;
	margin: 0 auto;
}

.posts {
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

a:active, a:hover, a:visited, a{
	color: black;
}


/*h1 {
	margin: 2rem 0 1rem 1rem;
}*/

a.articleBlog {	
    font-size: 1.25rem;
    border: 1px solid #666;
    border-bottom: 8px solid #0099ff;
    border-radius: 4px;
    transition: 0.3s ease;
    width: 30%;
    height: 350px;
    margin-right: 3%;
    margin-bottom: 25px;
    position: relative;
}

a.articleBlog:hover {
	border: 1px solid #0099ff;
	border-radius: 4px;
	box-shadow: 0px 4px 4px  #bbb;
	transform: scale(1.05);
}

a.articleBlog figure, a.articleBlog figure img {
	width: 100%;
	border-radius: 4px 4px 0 0; 
}

a.articleBlog > article> figure  {
	height: 171px;
	overflow-y: hidden;
}

.tituloArticulo {
	color: #0099ff;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

.resumenArticulo {
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 0.85rem;
}

.avatarContent {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	color: #888;
	width: 100%;
	position: absolute;
	bottom: 6px;
}

.avatarContent figure.avatar {
	width: 1.75rem;
}

.avatarContent figure.avatar .avatarImg {
	width: 100%;
	border-radius: 50%;
}

.avatarNombre, .fecha {
	padding-left: 1rem;
	font-size: 0.75rem;
	line-height: 1.7rem;
}

.fecha {
	margin-left: 1.5rem;
	line-height: 1.3rem;
}

.tituloMejorArticulo {
	color: white;
	font-size: 2rem;
}

#admin {
	color: #bbb;
	padding-top: 8rem;
	padding-bottom: 4rem;
}

.IN-widget {
	align-self: flex-start;	
}

.footer {
	width: 100%;
	height: 200px;
	background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 26%, rgba(77,164,209,1) 85%, rgba(32,141,197,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(26%, rgba(255,255,255,1)), color-stop(85%, rgba(77,164,209,1)), color-stop(100%, rgba(32,141,197,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 26%, rgba(77,164,209,1) 85%, rgba(32,141,197,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 26%, rgba(77,164,209,1) 85%, rgba(32,141,197,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 26%, rgba(77,164,209,1) 85%, rgba(32,141,197,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 26%, rgba(77,164,209,1) 85%, rgba(32,141,197,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#208dc5', GradientType=0 );
}



@media screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}

	a.articleBlog {
		width: 90%;
		margin: 1rem auto;
	}

	.headerBlog, .cover, .imagePpal {
		min-height: 150px;
	}

	.data {
		min-width: 0;
		width: 95%;
		left: 5%;
		bottom: 5px;
		height: 80px;
	}

	.avatarContent {

	}

	.data > h1, .avatarContent, .tituloMejorArticulo {
		margin: 0;
		width: 100%;
	}

	.avatarNombre, .fecha { 
		font-size: 0.75rem;
		line-height: 0.75rem;
	}

	.fecha {
		margin-left: 0.75rem;
	}

	.textBlog {
		width: 100%;
		min-width: 0;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		font-size: 1rem;
	}

	.footer, .container {
		width: 100%;
		min-width: 0;
	}

}

@media screen and (max-width: 600px) and (orientation: landscape) {

}